.words {
  display: flex;
  justify-content: center;

  .word__list {
    max-width: 1200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    padding: 30px;

    .word__item {
      position: relative;
      width: 200px;
      margin: 10px;
      padding: 10px;
      border-radius: 20px;
      border: 5px solid #3f51b5;
      font-size: 20px;
      font-weight: bold;
      color: #3f51b5;
      cursor: pointer;
      transition: 0.3s;

      &-icon {
        text-align: center;
      }

      &-select {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        transform: scale(1.2);
      }

      &:hover {
        background: #00BFFF;
      }

      &-title,
      &-transcription {
        text-align: center;
      }
    }

    .selected {
      border: 5px solid #1d2e5b;
      color: #1d2e5b;
    }
  }
}
