@mixin size($width, $height: $width) {
  min-width: $width;
  height: $height;
}

@import "start-page";
@import "statistic-page";
@import "loader";
@import "controls-panel";
@import "content-image";
@import "content";

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style-type: none;
  letter-spacing: 1px;
}

